<h4>Об авторе</h4>

<p class="profile">
    <img class="profile-foto" src="~/Content/images/profile_foto.jpeg" alt="Тимур Басыров" />

    Имя: Тимур Басыров<br />
    Город: Оренбург<br />
    Интересы: .NET, C#<br />
    ASP.NET MVC / Web API
</p>

