body
{
    color: #6B6B6B;
    font-size: 15px;
}

.jumbotron
{
    background-image:url("../Content/images/header-background.jpg");
    background-repeat: no-repeat;
    color: #fff;
}

.wide img {
  width:100%;
}

.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors 
{ 
    color: #f00; 
}

.validation-summary-valid 
{ 
    display: none; 
}

.comments
{
    padding-left: 20px;
}

.usericon
{
    font-size: 1.1em;
    color: #777;
    margin-right: 10px;
}

.username
{
    font-weight: bold; 
    margin-right: 10px;
}

.comment-form
{
    padding-left: 20px;
}

/* Исправляем баг Bootstrap с .glyphicon*/
/* https://github.com/twbs/bootstrap/issues/10936 */
.glyphicon
{
    top: 0;
}

.pagination
{
    margin: 0;
}

.valign-middle
{
    vertical-align: middle;
}

input[type="checkbox"]
{
    margin: 0;
}

.tag
{
    margin-right: 20px;
}

.list-content
{
    min-height: 300px;
}

#toTop
{
    z-index: 3;
    position: fixed;
    bottom: 29px;
    left: 15px;
    cursor: pointer;
    display: none;
}

a .glyphicon
{ 
    margin-right: 5px;
}

h2 a:hover
{
    text-decoration: none;
}

.table-nonfluid
{
    width: auto;
}

.archive-item-group h5
{
    cursor: pointer;
}

.list-group-item
{
  overflow:hidden;  
  position: relative;
  display: block;
  padding: 2px 20px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 0px solid #ddd;
}

.badge-info {
  background-color: #269abc;
}

.footer
{
    padding: 10px 0 0 0;
    background-color: #222;
    font-size: 13px;
    color: #777;
    border-radius: 5px;
}

.github
{
    background-image: url("../Content/images/github.png");
    background-repeat: no-repeat;
}

.linkedin
{
    background-image: url("../Content/images/linkedin.png");
    background-repeat: no-repeat;
}

.facebook
{
    background-image: url("../Content/images/facebook.png");
    background-repeat: no-repeat;
}

.social-btns a
{
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-right: 4px;
}

.profile-foto {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    vertical-align: top;
    margin-bottom: 10px;    
}

.profile
{
    margin-left: 20px;
    font-size: 12px;
}