.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors 
{ 
    color: #f00; 
}

.validation-summary-valid 
{ 
    display: none; 
}

.comments
{
    padding-left: 20px;
}

.usericon
{
    font-size: 1.1em;
    color: #777;
    margin-right: 10px;
}

.username
{
    font-weight: bold; 
    margin-right: 10px;
}

.comment-form
{
    padding-left: 20px;
}
