@model MyPersonalBlog.Models.Post

<p>Подтвердите удаление указанного поста.</p>

<div class="panel panel-warning">
    <div class="panel-heading">
        <h4>@Model.Title</h4>
    </div>
    <div class="panel-body">
        Пост будет удален со всеми комментариями и не может быть восстановлен.
    </div>
</div>
