@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="panel">
    <h2 class="text-center text-primary">About Page</h2>
    
    <p>This is about page</p>
</div>