@{
    ViewBag.Title = "Contacts";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="panel">
    <h2 class="text-center text-primary">Contacts Page</h2>
    
    <p>This is contacts page</p>
</div>