@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="panel">
    <h2 class="text-center text-primary">Index View</h2>

    <div class="panel panel-success">
        <div class="panel-heading">
            head
        </div>
        <div class="panel-body">            
            <p><span class="glyphicon glyphicon-comment"></span> Комментарии <span class="badge">5</span></p>
            <hr />
            <p>text</p>
        </div>
    </div>

</div>