@{
    ViewBag.Title = "Панель администратора";
}

<!DOCTYPE html>

<html>
@Html.Partial("_HeadPartial")
<body>
    <div class="container">

        <header class="jumbotron">
            <h2>My Personal Blog</h2>
            <p>Admin panel (in developing...)</p>
            @Html.ActionLink("Главная", "Index", "Posts", new { area = "" }, null)
        </header>

        @RenderBody()

        <footer class="container-fluid text-center">
            <p>footer block</p>
        </footer>
    </div>
</body>
</html>
